.loading {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.bg-main-color {
  background-color: #0d0d0d;
}
.text-main-color {
  color: #f9f6f6 !important;
}
a {
  color: inherit;
  text-decoration: none;
}

.search .form-control::placeholder {
  color: #f9f6f6;
  opacity: 0.5;
}

aside .nav-logo img {
  width: 50px;
}

aside .links li {
  position: relative;
  top: 300px;
}

.recipes .layer {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.recipes .layer2 {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.recipes .box:hover .layer,
.recipes .box:hover .layer2 {
  top: 0;
}

.recipes .box {
  cursor: pointer;
}

@media (max-width: 760px) {
  .recipes {
    width: 75%;
    margin: auto;
    padding-left: 48px;
  }

  .search,
  .contact-us {
    margin: auto;
    padding-left: 48px;
  }
}
